<a href="https://colab.research.google.com/github/ifiscoder/DWM/blob/PRAC_5/DWM_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone -b PRAC_5 "https://ifiscoder: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@github.com/ifiscoder/DWM.git"

Cloning into 'DWM'...
remote: Enumerating objects: 32, done.
remote: Counting objects: 100% (32/32), done.
remote: Compressing objects: 100% (27/27), done.
remote: Total 32 (delta 5), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (32/32), done.

In [2]:
import pandas as pd
df = pd.read_csv('/content/DWM/tweet_data.csv')
df

           textID                                         tweet_text sentiment
0      1956967666  Layin n bed with a headache  ughhhh...waitin o...  negative
1      1956967696                Funeral ceremony...gloomy friday...  negative
2      1956967789               wants to hang out with friends SOON!  positive
3      1956968477  Re-pinging @ghostridah14: why didn't you go to...  negative
4      1956968636               Hmmm. http://www.djhero.com/ is down  negative
...           ...                                                ...       ...
18722  1753918818  had SUCH and AMAZING time last night, McFly we...  positive
18723  1753918881  @jasimmo Ooo showing of your French skills!! l...  positive
18724  1753918900                      Succesfully following Tayla!!  positive
18725  1753919001                     Happy Mothers Day  All my love  positive
18726  1753919005  Happy Mother's Day to all the mommies out ther...  positive

[18727 rows x 3 columns]

In [3]:
#@title Find the total number of unique tweets.
df.tweet_text.count()

18727

In [4]:
#@title Find the total number of unique tweets.
df.tweet_text.nunique()

18615

In [19]:
#@title Find out the text and sentiments of a particular tweet with the help of IDs associated with it, as well as its index.
textID =  1753919005#@param {type:"integer"}
df[df.textID == textID][['tweet_text','sentiment']]

                                              tweet_text sentiment
18726  Happy Mother's Day to all the mommies out ther...  positive

In [31]:
#@title Find out the total number of positive and negative tweets
print(f'Total Positive comments : {df.sentiment.value_counts().positive}')
print(f'Total Negative comments : {df.sentiment.value_counts().negative}')

Total Positive comments : 9897
Total Negative comments : 8830