<a href="https://colab.research.google.com/github/ifiscoder/DWM/blob/PRAC_3/PRAC_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title CLONE
!git clone -b PRAC_3 "https://ifiscoder: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@github.com/ifiscoder/DWM.git"

Cloning into 'DWM'...
remote: Enumerating objects: 19, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (14/14), done.
remote: Total 19 (delta 2), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (19/19), done.

In [4]:
import pandas as pd
df = pd.read_csv('/content/DWM/employees.csv',
                 sep=';',
                 engine='python')

In [5]:
df

     EMPLOYEE_ID FIRST_NAME  ... MANAGER_ID DEPARTMENT_ID
0            100     Steven  ...          0            90
1            101      Neena  ...        100            90
2            102        Lex  ...        100            90
3            103  Alexander  ...        102            60
4            104      Bruce  ...        103            60
..           ...        ...  ...        ...           ...
102          202        Pat  ...        201            20
103          203      Susan  ...        101            40
104          204    Hermann  ...        101            70
105          205    Shelley  ...        101           110
106          206    William  ...        205           110

[107 rows x 11 columns]

In [6]:
df.describe()

       EMPLOYEE_ID        SALARY  COMMISSION_PCT  MANAGER_ID  DEPARTMENT_ID
count   107.000000    107.000000      107.000000  107.000000     107.000000
mean    153.000000   6461.682243        0.072897  123.598131      62.616822
std      31.032241   3909.365746        0.115595   23.543561      21.689770
min     100.000000   2100.000000        0.000000    0.000000       0.000000
25%     126.500000   3100.000000        0.000000  108.000000      50.000000
50%     153.000000   6200.000000        0.000000  122.000000      50.000000
75%     179.500000   8900.000000        0.150000  145.000000      80.000000
max     206.000000  24000.000000        0.400000  205.000000     110.000000

In [7]:
list(df)

['EMPLOYEE_ID',
 'FIRST_NAME',
 'LAST_NAME',
 'EMAIL',
 'PHONE_NUMBER',
 'HIRE_DATE',
 'JOB_ID',
 'SALARY',
 'COMMISSION_PCT',
 'MANAGER_ID',
 'DEPARTMENT_ID']

In [9]:
df.groupby(by=['EMPLOYEE_ID']).ngroups

107

In [10]:
df.groupby(by=['DEPARTMENT_ID']).ngroups

12

In [11]:
df.groupby(by=['DEPARTMENT_ID'])['SALARY'].max()

DEPARTMENT_ID
0       7000.0
10      4400.0
20     13000.0
30     11000.0
40      6500.0
50      8200.0
60      9000.0
70     10000.0
80     14000.0
90     24000.0
100    12000.0
110    12000.0
Name: SALARY, dtype: float64

In [12]:
df[df["SALARY"] == df["SALARY"].min()]

    EMPLOYEE_ID FIRST_NAME LAST_NAME  ... COMMISSION_PCT MANAGER_ID DEPARTMENT_ID
32          132         TJ     Olson  ...            0.0        121            50

[1 rows x 11 columns]

In [13]:
df.groupby(by=['DEPARTMENT_ID'])['SALARY'].sum()

DEPARTMENT_ID
0        7000.0
10       4400.0
20      19000.0
30      24900.0
40       6500.0
50     156400.0
60      28800.0
70      10000.0
80     304500.0
90      58000.0
100     51600.0
110     20300.0
Name: SALARY, dtype: float64

In [14]:
df.groupby(by=['MANAGER_ID']).ngroups

19

In [15]:
df.groupby(by=['DEPARTMENT_ID'])['EMPLOYEE_ID'].count()

DEPARTMENT_ID
0       1
10      1
20      2
30      6
40      1
50     45
60      5
70      1
80     34
90      3
100     6
110     2
Name: EMPLOYEE_ID, dtype: int64

In [16]:
df.SALARY.min()

2100.0

In [17]:
df.loc[df['JOB_ID'] == 'SA_MAN']

    EMPLOYEE_ID FIRST_NAME  ... MANAGER_ID DEPARTMENT_ID
45          145       John  ...        100            80
46          146      Karen  ...        100            80
47          147    Alberto  ...        100            80
48          148     Gerald  ...        100            80
49          149      Eleni  ...        100            80

[5 rows x 11 columns]

In [18]:
df.groupby(by=['DEPARTMENT_ID'])['SALARY'].mean()

DEPARTMENT_ID
0       7000.000000
10      4400.000000
20      9500.000000
30      4150.000000
40      6500.000000
50      3475.555556
60      5760.000000
70     10000.000000
80      8955.882353
90     19333.333333
100     8600.000000
110    10150.000000
Name: SALARY, dtype: float64

In [20]:
df.groupby(by=['MANAGER_ID'])['EMPLOYEE_ID'].count()

MANAGER_ID
0       1
100    14
101     5
102     1
103     4
108     5
114     5
120     8
121     8
122     8
123     8
124     8
145     6
146     6
147     6
148     6
149     6
201     1
205     1
Name: EMPLOYEE_ID, dtype: int64