<a href="https://colab.research.google.com/github/ifiscoder/DWM/blob/PRAC_3/PRAC_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title CLONE
!git clone -b PRAC_3 "https://ifiscoder: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@github.com/ifiscoder/DWM.git"

Cloning into 'DWM'...
remote: Enumerating objects: 19, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (14/14), done.
remote: Total 19 (delta 2), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (19/19), done.

In [4]:
import pandas as pd
df = pd.read_csv('/content/DWM/employees.csv',
                 sep=';',
                 engine='python')

In [5]:
df

     EMPLOYEE_ID FIRST_NAME  ... MANAGER_ID DEPARTMENT_ID
0            100     Steven  ...          0            90
1            101      Neena  ...        100            90
2            102        Lex  ...        100            90
3            103  Alexander  ...        102            60
4            104      Bruce  ...        103            60
..           ...        ...  ...        ...           ...
102          202        Pat  ...        201            20
103          203      Susan  ...        101            40
104          204    Hermann  ...        101            70
105          205    Shelley  ...        101           110
106          206    William  ...        205           110

[107 rows x 11 columns]

In [6]:
df.describe()

       EMPLOYEE_ID        SALARY  COMMISSION_PCT  MANAGER_ID  DEPARTMENT_ID
count   107.000000    107.000000      107.000000  107.000000     107.000000
mean    153.000000   6461.682243        0.072897  123.598131      62.616822
std      31.032241   3909.365746        0.115595   23.543561      21.689770
min     100.000000   2100.000000        0.000000    0.000000       0.000000
25%     126.500000   3100.000000        0.000000  108.000000      50.000000
50%     153.000000   6200.000000        0.000000  122.000000      50.000000
75%     179.500000   8900.000000        0.150000  145.000000      80.000000
max     206.000000  24000.000000        0.400000  205.000000     110.000000

In [7]:
list(df)

['EMPLOYEE_ID',
 'FIRST_NAME',
 'LAST_NAME',
 'EMAIL',
 'PHONE_NUMBER',
 'HIRE_DATE',
 'JOB_ID',
 'SALARY',
 'COMMISSION_PCT',
 'MANAGER_ID',
 'DEPARTMENT_ID']

In [8]:
df.groupby(by=['EMPLOYEE_ID']).size()

EMPLOYEE_ID
100    1
101    1
102    1
103    1
104    1
      ..
202    1
203    1
204    1
205    1
206    1
Length: 107, dtype: int64